.faq-container1 {
  /* background-image: url(../image/home/images/backimg.png);
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 3vmin; */
}

.faq-container1 h1 {
  text-align: center;
  color: #6c4f37;
  font-weight: bold;
  font-size: 3rem;
}

.faq-container1 .accordion {
  display: flex;
  flex-direction: column;
  gap: 1.5vmin;
}

.faq-container1 .accordion-item {
  border-radius: 45px !important;
  overflow: hidden;
  background-color: #6c4f37;
}

.faq-container1 .accordion-body {
  border-radius: 45px 45px 0 0;
  background-color: #f5f1e8;
  padding: 3vh 4vw 3vh 4vw;
  font-size: 1.06rem;
  font-weight: 500;
  text-align: justify;
}

.faq-container1 .accordion-button {
  background-color: #6c4f37;
  color: white;
  padding: 3.5vh 2vw 3.5vh 4vw;
  font-size: 1.25rem;
  font-weight: 500;
  transition: 0.3s;
}

.faq-container1 .accordion-button:not(.collapsed) {
  box-shadow: none;
  background-color: #6c4f37;
  color: white;
  font-size: 1.37rem;
  transition: 0.3s;
}

.faq-container1 .accordion-button:focus {
  box-shadow: none;
}

.faq-container1 .accordion-button::after {
  filter: grayscale(1) invert(1);
}

.faq-container1 .accordion-header {
}

.faq-container1 .accordion-button:hover {
}
